// categories widget 样式

.widget-wrapper.categories-widget .widget-body {
    border-radius: $border-card;
    padding: 12px 20px;
    background: var(--alpha50); // 这里设置背景
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // 添加阴影效果
  }

// categories_widget.styl
.categories-widget
    border-radius: $border-card;
    padding: 12px 8px
    background: var(--card)
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)

  // Add any additional styling you want here

.categories-widget .post-list .cat.child
  margin-left: 20px;
